<!-- footer-->


<footer class="container-fluid">
     <div class="row justify-content-md-center">   
        <div class="col-lg-24 col-md-24">
			<nav class="navbar navbar-expand-sm ">
				<img src="images/logo.png" class="img-fluid">
			</nav>
        </div>
    </div>
	<div class="row justify-content-md-center">
		<div class="col-sm-2">
		 <div class = "card-body">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="#">TIENDA</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Acerca de</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Vende tus videojuegos</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Centro de reparación</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Ofertas y cupones</a></li>
			</ul>
			</div>
		</div>
		<div class="col-sm-2">
		 <div class = "card-body">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="#">COMPAÑÍA</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Envíos y Devoluciones</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Compra Segura</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Privacidad</a></li>
			</ul>
			</div>
		</div>
		<div class="col-sm-2">
		 <div class = "card-body">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="#">CUENTA</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Mi cuenta</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Carrito de Compras</a></li>
				<li class="nav-item"><a class="nav-link" href="#">FAQS</a></li>
			</ul>
			</div>
		</div>
		<div class="col-sm-2">
		 <div class = "card-body">
				<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link" href="#">SOCIAL</a></li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img src="/images/facebook.png" class="img-fluid" height="15" width="15">
						</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">
						<img src="/images/pinterest.png" class="img-fluid" height="15" width="15">
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img src="/images/google.png" class="img-fluid" height="15" width="15">
						</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">
						<img src="/images/twitter.png" class="img-fluid" height="15" width="15">
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img src="/images/youtube.png" class="img-fluid" height="15" width="15">
						</a>
					</li>
				</ul>
				</div>
		</div>
	</div>S
</footer>
<!-- footer-->