<!-- footer-->
<div class="container-center d-flex justify-content-center" id="f-of">
	<div class="row">
		<div class="col-5 d-flex justify-content-center">
			<form class="form-inline">
  				<div class="form-group">
    				<input class="form-control ml-sm-2" type="search" placeholder="Tu correo electrónico" aria-label="Tu correo electrónico">
      				<button class="btn" type="submit">
 						<img src="images/submit.jpg" class="img-fluid">
    				</button>
    			</div>
			</form>
		</div>
		<div class="col-7">
					<h1>Obten Ofertas</h1>
					<p>Registrate para tener ofertas <B class="resaltadas">EXCLUSIVAS</B> y cupones <BR>para todos tus videojuegos faboritos retro y consolas clásicas!</p>
				</div>
	</div>
</div>
<div class="container-center d-flex justify-content-center" id="logo-inf">
	<img src="images/logo.png" class="img-fluid">
</div>
<footer class="container-fluid">
	<div class="row">
		<div class="col">
			<ul class="nav flex-column">
				<a class="nav-link" href="#">
					<h1>TIENDA</h1>
				</a>
				<li class="nav-item"><a class="nav-link" href="/about">Acerca de</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Vende tus videojuegos</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Centro de Reparación</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Ofertas y Cupones</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<a class="nav-link" href="#">
					<h1>COMPAÑIA</h1>
				</a>
				<li class="nav-item"><a class="nav-link" href="#">Envios y Devoluciones</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Contactanos</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Compra Segura</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Privacidad</a></li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<a class="nav-link" href="#">
					<h1>CUENTA</h1>
				</a>
				<li class="nav-item"><a class="nav-link" href="#">Rastrear mi pedido</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Mi cuenta</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Carrito de compras</a></li>
				<li class="nav-item"><a class="nav-link" href="#">FAQs</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<a class="nav-link" href="#">
					<h1>SOCIAL</h1>
				</a>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<img src="images/facebook.png">
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<img src="images/pinterest.png">
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<img src="images/google.png">
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<img src="images/twitter.png">
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<img src="images/youtube.png">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
<!-- footer-->
