<!-- footer-->
<div class="container-center d-flex justify-content-center" id="f-of">
	<div class="row">
		<div class="col-5 d-flex justify-content-center">
			<form class="form-inline">
  				<div class="form-group">
    				<input class="form-control ml-sm-2" type="search" placeholder="Buscar en tienda" aria-label="Buscar en tienda">
      				<button class="btn" type="submit">
 						<img src="images/submit.jpg" class="img-fluid">
    				</button>
    			</div>
			</form>
		</div>
		<div class="col-7">
					<h1>Obten Ofertas</h1>
					<p>Registrate para tener ofertas <B class="resaltadas">EXCLUSIVAS</B> y cupones <BR>para todos tus videojuegos faboritos retro y consolas clasicas</p>
				</div>
	</div>
</div>
