<!--Banner-->
<div class="container-center">
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-expand-sm nav-sup">
				<div class="container">
				<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">
								<img src="images/shippingicon.gif" class="img-fluid">
								ENVIOS GRATIS con ordenes mayores a $600
							</a>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">120 DIAS DE GARANTIA que nadie puede superar!</a>
						</li>
					</ul>
				</div>
				</div>
			</nav>
		</div>
	</div>
</div>
<!--Banner-->

<!-- Menu de navegacion-->
<div class="container-center">
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-expand-sm nav-med">
				<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="images/logo.png" class="img-fluid" width="100%">
  </button>
				<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">
								Contactanos
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">Acerca de</a>
						</li>
					</ul>
					<a class="navbar-brand d-none d-sm-block" href="#">
						<img src="images/logo.png" class="img">
					</a>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">
								Vende tus videojuegos
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Cuenta
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Login
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Carrito
							</a>
						</li>
					</ul>
				</div>
				</div>
			</nav>
		</div>
	</div>
</div>
<!-- Menu de navegacion-->
<!-- navegacion 2-->
<div class="container-center">
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-expand-sm nav-inf ">
				<div class="container">
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" id="btn">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand d-sm-none" href="#">
						<form class="form-inline my-2 my-lg-0">
      						<input class="form-control mr-sm-2" type="search" placeholder="Buscar en tienda" aria-label="Buscar en tienda">
      						<button class="btn" type="submit">
      								<img src="images/search.jpg" class="img-fluid">
      						</button>
    					</form>
					</a>
					
					<div class="collapse navbar-collapse justify-content-between" id="navbar">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ">
								<a class="nav-link" href="#">Nintendo</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="#">Sega</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="#">PlayStation</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="#">Xbox</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="#">Ofertas Retro</a>
							</li>
						</ul>
						<a class="navbar-brand d-none d-sm-block" href="#">
							<form class="form-inline my-2 my-lg-0">
      							<input class="form-control mr-sm-2" type="search" placeholder="Buscar en tienda" aria-label="Buscar en tienda">
      							<button class="btn" type="submit">
      								<img src="images/search.jpg" class="img-fluid">
      							</button>
    						</form>
						</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
<!-- navegacion 2-->