<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style type="text/css">
        
        
        .jumbotron{
            background:#0C7DEE;
        }
        .card{
            text-align:center;
    		border-radius: 0;
    	}
        .nav-link{
			padding-top: 1px;
			padding-bottom: 1px;
			color:#1A1E37;
		}
        .row-header{
            font-family: 100%/200% 'Monaco';
            color:#FFFFFF;
        }
        .nav-link strong{
			color:red;
		}
    </style>
      <title>Tienda</title>
  </head>
  <body>
      <!-- Header -->
      
      <!-- /Header -->
      
      <!-- Descripcion pagina -->
      
      <!-- /Descripcion pagina-->
      
      <!-- Ofertas -->
      <div class = "jumbotron">
        <div class = "container-center">
            <h5 class = "row-header text-center">Ofertas Retro</h5>
            <div class = "row">
                <div class = "col-sm-2">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <p><img src="images/NES_Mario_2Player.jpg" class="img-fluid" height="100" width="100"></p>
                                <a class="nav-link text-center" href="#">NES Original 2 Jugadores con Mario Pack</a>
                                <a class="nav-link" href="#">$999.99<strong>$799.99</strong></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = "col-sm-2">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <p><img src="images/N64_goldeneye.jpg" class="img-fluid" height="100" width="100"></p>
                                <a class="nav-link text-center" href="#">N64 Golden Eye Pack</a>
                                <a class="nav-link text-center" href="#">$1499.99<strong>$1299.99</strong></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = "col-sm-2">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <p><img src="images/Wii-system.jpg" class="img-fluid"  height="100" width="100"></p>
                                <a class="nav-link text-center" href="#">Sistema Wii Pack</a>
                                <a class="nav-link text-center" href="#">$899.99<strong>$699.99</strong></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = "col-sm-2">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <p><img src="images/NES_ContraTysonZelda.jpg" class="img-fluid"  height="100" width="100"></p>
                                <a class="nav-link text-center" href="#">NES Original Contra, Tyson, Zelda Pack</a>
                                <a class="nav-link text-center" href="#">$1899.99<strong>$1699.99</strong></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "">
                
            </div>
          </div>
      </div>
      <!-- Ofertas -->
      
      <!-- Footer -->
      
      <!-- /Footer-->
  </body>
</html>
