<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style type="text/css">
    	
    </style>
  </head>
  <body>
      <!-- Header-->
      
      
      <!-- /Header-->
      
      <!-- Descripcion pagina -->
      
      <!-- /Descripcion pagina-->
      
      <!-- Ofertas -->
      <div class = "jumbotron">
        <div class = "container-fluid">
            <div class = "row">
                <h5 class = "row-header text-center">Ofertas Retro</h5>
                <div class = "col-12 col-sm-6 col-md-4">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <img class ="nintendoMario" src="images/NES_Mario_2Player.jpg" height="100" width="100">
                                <a class="nav-link text-center" href="#">NES Original 2 Jugadores con Mario Pack</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <!-- Ofertas -->
      
      <!-- Footer -->
      
      <!-- /Footer-->
  </body>
</html>
