<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style type="text/css">
    	.nav-med{
    		background-color: #0E579C;
    	}
    	.nav-sup{
    		background-color: #197BD5;
    	}
    	.nav-inf{
    		background-color: #063664;
    	}
        .nav-sup .nav-link{
            color:#FFFFFF;
        }
        .nav-med .nav-link{
            color:#FFFFFF;
        }
        .nav-inf .nav-link{
            color:#FFFFFF;
        }
		.nav-sup .nav-link:hover{
            color:#FFFFFF;
        }
        .nav-med .nav-link:hover{
            color:#FFFFFF;
        }
        .nav-inf .nav-link:hover{
            color:#FFFFFF;
        }
		.nav-med .nav-link:hover{
			border-bottom-style: solid;
			border-bottom-color:#FFFF00; 
		}
		.nav-inf .nav-link:hover{
			background-color:#0000CC;
			border-bottom-style: solid;
			border-bottom-color:#FFFF00; 

		}
		.nav-inf #btn{
			background-color: blue;

		}
		.card-h .card-header{
    		border-radius: 0;
            border: 0;
            color: #0D3D9E;
            width: auto; 
            margin: auto auto;
        }
        .card-h{
            color: #0D3D9E;
        }
		.jumbotron{
            background:#197BD5;
            border-radius: 0;
        }
        .jumbotron .card{
        	width: auto; 
            margin: auto;
            text-align:center;
    		border-radius: 0;
            border: 1px solid black;
            width: auto; 
            margin: auto auto;
    	}
    	.nav-link{
			padding-top: 1px;
			padding-bottom: 1px;
			color:#1A1E37;
		}
		.row-header{
            font-family:helvetica;
            font-size: 1.6rem;
            color:#FFFFFF;
        }
        .nav-link strong{
			color:red;
		}
		.jumbotronp-2{
            background:#0D3D9E;
        }
        .jumbotron button{
            background-color:#FFFF00;
            border: 2px solid #D4AC0D;
            color:blue;
            font-size:92%;
        }
        .nav-med .navbar-toggler{
    		position: relative;
    		left: 50%;
    		transform: translatex(-50%);
		}
        footer .nav-link{
            color:#FFFFFF;
        }
        #f-of{
            background-color: blue;
        
        }
        #f-of h1{
            color: #FFFFFF;
            border-bottom-style: solid;
            border-bottom-color:#FFFF00; 
        }
        #f-of p{
            color: #FFFFFF;
        }
        #f-of .resaltadas{
            color: #FFFF00;
        }
        div{
        margin: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        }
	    </style>

	<title>MCPI</title>
</head>
<body>

<%- include('header') -%> 

<!-- Descripcion pagina -->
      <div class="container-fluid">
          <div class="container-fluid">
              <div class="row d-flex justify-content-center">
                  <div class="offset-2 col-md-16">
                      <div class="card-h">
                          <div class="card-body">
                              <p><img src="images/nintendo-banner.jpg" class="img-fluid" height="600" width="355"></p>
                          </div>
                      </div>
                  </div>  
                  <div class ="col-md-4">
                        <div class="card-h">
                            <p></p><h5 class = "card-header bg-transparent">
                                  TIENDA DE JUEGOS RETRO!
                            </h5>
                            <div card="card-text">
                                Compra videojuegos usados, consolas originales y accesorios de la vieja escuela en la tienda en linea de videojuegos retro más grande en su clase. Compra todos nuestros productos vintahe 100% auyénticos, con una garantía gratuita de 120días y envío nacional gratuito.
                                <p></p>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>

<!-- links-->
<div class = "jumbotron">
        <div class = "container-fluid">
            <h5 class = "row-header text-center">Ofertas Retro</h5>
            <p class ="subrayado"></p>
            <div class = "row d-flex justify-content-center">
                <div class = "offset-2 col-lg-2 col-md-4 col-sm-6">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <p><img src="images/NES_Mario_2Player.jpg" class="img-fluid" height="100" width="100"></p>
                                <a class="nav-link text-center" href="#">NES Original 2 Jugadores con Mario Pack</a>
                                <a class="nav-link" href="#"><strike>$999.99</strike><strong>$799.99</strong></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = "col-lg-2 col-md-4 col-sm-6">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <p><img src="images/N64_goldeneye.jpg" class="img-fluid" height="100" width="100"></p>
                                <p></p>
                                <a class="nav-link text-center" href="#">N64 Golden Eye Pack</a>
                                <a class="nav-link text-center" href="#"><strike>$1499.99</strike><strong>$1299.99</strong></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = "col-lg-2 col-md-4 col-sm-6">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <p><img src="images/Wii-system.jpg" class="img-fluid"  height="100" width="100"></p>
                                <a class="nav-link text-center" href="#">Sistema Wii Pack</a>
                                <a class="nav-link text-center" href="#"><strike>$899.99</strike><strong>$699.99</strong></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = "col-lg-2 col-md-4 col-sm-6">
                    <div class = "card">
                        <div class = "card-body">
                            <ul class="nav flex-column">
                                <p><img src="images/NES_ContraTysonZelda.jpg" class="img-fluid"  height="100" width="100"></p>
                                <a class="nav-link text-center" href="#">NES Original Contra, Tyson, Zelda Pack</a>
                                <a class="nav-link text-center" href="#"><strike>$1899.99</strike><strong>$1699.99</strong></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class = "row">
                <div class = "col-12 text-center">
                    <button class="btnMasOpciones">  Más Ofertas<strong> ⪢ </strong> </button>
                </div>
            </div>
          </div>
      </div>
<!--jumbotron-->
<!-- Footer -->
<%- include('footer') -%>
<!-- Footer -->
<!-- links-->
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/umd/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
